@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vgsr0h');
  src:  url('fonts/icomoon.eot?vgsr0h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vgsr0h') format('truetype'),
    url('fonts/icomoon.woff?vgsr0h') format('woff'),
    url('fonts/icomoon.svg?vgsr0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .fp-prev:before, .fp-next:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-film:before {
  content: "\e913";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-right:before, .fp-next:before {
  content: "\ea42";
}
.icon-circle-left:before, .fp-prev:before {
  content: "\ea44";
}
